In [2]:
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Flatten, Dense, Dropout,BatchNormalization
from tensorflow.keras.layers import Conv2D, MaxPool2D
from tensorflow.keras.optimizers import Adam
print(tf.__version__)

2.10.0

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [5]:
file = open('WISDM_ar_v1.1/WISDM_ar_v1.1_raw.txt')
lines = file.readlines()
processedList = []

for i, line in enumerate(lines):
    try:
        line = line.split(',')
        last = line[5].split(';')[0]
        last = last.strip()
        if last == '':
            break
        temp = [line[0], line[1], line[2], line[3], line[4], last]
        processedList.append(temp)
    except:
        print('ERROR at line number: ', i)

ERROR at line number:  281873
ERROR at line number:  281874
ERROR at line number:  281875

In [8]:
data = pd.DataFrame(data = processedList, columns = ['user', 'activity', 'time', 'x', 'y', 'z'])
data

       user activity            time            x          y            z
0        33  Jogging  49105962326000   -0.6946377  12.680544   0.50395286
1        33  Jogging  49106062271000     5.012288  11.264028   0.95342433
2        33  Jogging  49106112167000     4.903325  10.882658  -0.08172209
3        33  Jogging  49106222305000  -0.61291564  18.496431    3.0237172
4        33  Jogging  49106332290000   -1.1849703  12.108489     7.205164
...     ...      ...             ...          ...        ...          ...
343411   11  Walking   1786872234000         0.31      10.73  0.040861044
343412   11  Walking   1786922282000         2.76      10.95   0.84446156
343413   11  Walking   1786972392000          0.8      10.15     1.334794
343414   11  Walking   1787022227000        -1.57       8.69    1.4165162
343415   11  Walking   1787072368000        -2.56       8.58     1.879608

[343416 rows x 6 columns]

In [9]:
data.describe()

          user activity    time       x       y       z
count   343416   343416  343416  343416  343416  343416
unique      13        6  303353    1755    1800     995
top         20  Walking       0       0       0     0.0
freq     35599   137375   12826   13880   13052   12823

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343416 entries, 0 to 343415
Data columns (total 6 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   user      343416 non-null  object
 1   activity  343416 non-null  object
 2   time      343416 non-null  object
 3   x         343416 non-null  object
 4   y         343416 non-null  object
 5   z         343416 non-null  object
dtypes: object(6)
memory usage: 15.7+ MB

In [11]:
data.isnull().sum()

user        0
activity    0
time        0
x           0
y           0
z           0
dtype: int64

In [12]:
data['activity'].value_counts()

Walking       137375
Jogging       129392
Upstairs       35137
Downstairs     33358
Sitting         4599
Standing        3555
Name: activity, dtype: int64

In [13]:
data['x'] = data['x'].astype('float')
data['y'] = data['y'].astype('float')
data['z'] = data['z'].astype('float')
data.describe()

                   x              y              z
count  343416.000000  343416.000000  343416.000000
mean        1.007548       8.062965       0.306067
std         6.592155       6.624386       4.455004
min       -19.610000     -19.610000     -19.613300
25%        -2.301839       3.990000      -2.179256
50%         0.230000       8.660000       0.000000
75%         4.020000      12.530000       2.492524
max        19.570000      19.572440      19.231932

In [14]:
Fs = 20

In [ ]:
def plot_axis(ax, x, y, title):
    ax.plot(x, y, 'g')
    ax.set_title(title)
    ax.xaxis.set_visible(False)
    ax.set_ylim([min(y) - np.std(y), max(y) + np.std(y)])
    ax.set_xlim([min(x)])
    ax.grid(True)

def plot_activity(activity, data):
    fig, (ax0, ax1, ax2) = plt.subplots(nrows = 3, figsize = (15, 7), sharex = True)
    plot_axis(ax0, data.time, data.x, 'X-axis')
    plot_axis(ax1, data.time, data.y, 'Y-axis')
    plot_axis(ax2, data.time, data.z, 'Z-axis')
    plt.subplots_adjust(hspace = 0.2)
    fig.suptitle(activity)
    plt.subplots_adjust(top = 0.9)
    plt.show()